body, html {
  color: #222;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0px 0 0px 0;
  

}

body::after {
  content: "";
  background-image: url("images/rootBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  overflow-x: scroll;
}


h2 {
  text-align: center;
  margin: auto;
}

header {
  
  background-image: linear-gradient(to right, white, #C0C0FF, #C0C0FF, white);
  /*rgba(0, 0, 128, 0.9);*/
  opacity: 0.8;
  border-bottom: 5px solid blue; /*#000080;*/
  box-shadow: 0px 0px 0px 0px rgba(0,0,128,1);
  box-sizing: border-box;
  color: #000;
  height: 160px;
  left: 0;
  padding: 15px 20px 20px 20px;
  position: fixed;
  top: 100;
  width: 100%;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
}

header a {
  color: #000; /*#fff   background: #C0C0FF;*/
  text-decoration: none;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 4px;
  opacity: 1;
}

header a:hover {
  text-decoration: underline;
  background: #C0C0FF;
  font-weight: bold;
}

.slideAlign {
  margin: auto;
}

* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
  text-align: left;
  float: left;
  width: 50%;
  padding: 15px;
  border-radius: 30px;
  height: 85%;
}

.paper {
  margin-top: 140px;
}

.authorNav {
  display: inline-block;
  margin: auto;
  text-align: center;
  font-size: 18px;
  opacity: 1;
  border: none;
}

#bodyA {
  color: pink;
  text-decoration: none;
}

#bodyA {
color: pink;
  text-decoration: underline;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

#pageTitle {
  font-size: 26px;
  text-decoration: none;
  opacity: 1;
}

header nav {
  display: inline-block;
  text-align:center;
  /*right: 20px;*/
  position: absolute;
  top: 10px;
  width: 100%;
}

header nav h1 {
  margin: 0 0 0 0px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;

}

header nav p {
  display: inline-block;
  margin: 0 0 0 17 px;
  text-align: center;
  font-size: 16px;
  opacity: 1;
}

header nav a {
  display: inline-block;
  margin: 0 0 0 22px;
  text-align: center;
  font-size: 20px;
  opacity: 1;
}

#all {
  padding: 70px;
  text-align: center;
}

#footer {
  background: #000080;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#masthead {
  height: 50vh;
  background-image: url("images/seals.jpg");
  background-size: cover;
  position: relative;
  background-position: 0 center;
}

.fullImage {
  border-radius: 20px;
}

.profile {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  bottom: -60px;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 4px solid #fff;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 8px 8px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}



.collapsible {
  background-color: rgba(150, 150, 255, 1);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid 2px #000;
  text-align: left;
  outline: none;
  font-size: 25px;
  margin-top: 20 px;
  margin-bottom: 20 px;
}

.active, .collapsible:hover {
  background-color: rgba(128, 128, 255, 1);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  background-color: rgba(150, 150, 255, 1);
}

.active:after {
  content: "\2212";
  background-color: rgba(150, 150, 255, 1);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(192, 192, 255, 1);
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
img {vertical-align: middle;}
h1 {font-size: 28px;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text <span class="dot"></span>*/
.text {
  color: #0;
  font-size: 20px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 20px;
  width: 20px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotactive {
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active1,.dotactive:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}