body, html {
  color: #222;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0px 0 0px 0;
}

header {
  background: rgba(0, 0, 128, 0.9);
  border-bottom: 3px solid #000080;
  box-shadow: 0px 0px 6px 0px rgba(0,0,128,1);
  box-sizing: border-box;
  color: #fff;
  height: 60px;
  left: 0;
  padding: 15px 20px 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

#pageTitle {
  font-size: 26px;
  text-decoration: none;
}

header nav {
  display: inline-block;
  right: 20px;
  position: absolute;
  top: 20px;
}

header nav a {
  display: inline-block;
  margin: 0 0 0 15px;
}

#all {
  padding: 70px;
  text-align: center;
}

#footer {
  background: #000080;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#masthead {
  height: 50vh;
  background-image: url("images/seals.jpg");
  background-size: cover;
  position: relative;
  background-position: 0 center;
}

.fullImage {
  border-radius: 20px;
}

.profile {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  bottom: -60px;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 4px solid #fff;
}